In [22]:
class Vehicle:
    def __init__(self, e, rp, p, c):
        self.engine = e
        self.reg_plate = rp
        self.price = p
        self.colour = c

class Car(Vehicle):
    def __init__(self, e, rp, p, c, t, nop, ms):
        super().__init__(e, rp, p, c)
        self.type = t
        self.no_of_passenger = nop
        self.max_speed = ms

class Truck(Vehicle):
    def __init__(self, e, rp, p, c, noa, lc):
        super().__init__(e, rp, p, c)
        self.no_of_axle = noa
        self.load_capacity = lc

obj1 = Vehicle("v8", "ACD234", 5000, "ORANGE")
obj2 = Car("v8", "ABC123", 500000, "Red", "Sedan", 5, 200)
obj3 = Truck("Diesel", "XYZ456", 80000, "BLUE", 2, 5000)

print("Car details:", obj2.engine, obj2.reg_plate, obj2.price, obj2.colour, obj2.type, obj2.no_of_passenger, obj2.max_speed)
print("Truck details:", obj3.engine, obj3.reg_plate, obj3.price, obj3.colour, obj3.no_of_axle, obj3.load_capacity)

Car details: v8 ABC123 500000 Red Sedan 5 200
Truck details: Diesel XYZ456 80000 BLUE 2 5000

In [37]:
class employee:
    def __init__(self,eid,en,es):
        self.eid = eid
        self.ename = en
        self.esalary = es
class staff(employee):
    def __init__(self,eid,en,es,wt,wp):
        super().__init__(eid,en,es)
        self.worktype = wt
        self.workpr = wp
class developer(employee):
    def __init__(self,eid,en,es,m,t,e):
        super().__init__(eid,en,es)
        self.module = m
        self.tech = t
        self.experience =e
class manager(employee):
    def __init__(self,eid,en,es,p,cn):
        super().__init__(eid,en,es)
        self.project = p
        self.clientname = cn
obj1=employee(12,"syeda",1200000)
obj2=staff(13,"tanzeem",23000,"wfhm","res")
obj3=developer(14,"unissa",450000,16,"ai",15)
obj4=manager(16,"syed",309990,"usa","mark")
print("staff details:","\n",obj2.eid,"\n", obj2.ename,"\n",obj2.esalary,"\n",obj2.worktype,"\n",obj2.workpr)
print("developer details:","\n", obj3.eid,"\n", obj3.ename,"\n", obj3.esalary,"\n", obj3.module,"\n",obj3.tech,"\n",obj3.experience)
print("developer details:","\n", obj4.eid,"\n", obj4.ename,"\n", obj4.esalary,"\n",obj4.project,"\n",obj4.clientname)

staff details:
 13
 tanzeem
 23000
 wfhm
 res
developer details:
 14
 unissa
 450000
 16
 ai
 15
developer details:
 16
 syed
 309990
 usa
 mark

In [55]:
#half pyramid 
for x in range(0,5):
    
    for y in range(0,x+1):
          print("*" , end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [56]:
for x in range(0,5):
    
    for y in range(0,y+1):
          print("*" , end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [73]:
rows=int(input("enter the number of rows:"))
for i in range(1,rows+1):
    for j in range(1,j):
        print(j,end=" ")
    print()

enter the number of rows: 5

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [72]:
#numeric pattern
rows=int(input("enter the number of rows:"))
for i in range(1,rows+1):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

enter the number of rows: 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [84]:
#full pyramid
rows = int(input("enter the number of rows : ")) 
m = (2 * rows) - 2
for i in range(0, rows):
    for j in range(0, m):
        print(end=" ")
    m = m - 1
    for j in range(0, i + 1):
        print("* ", end='')
    print(" ")

enter the number of rows :  8

              *
             * *
            * * *
           * * * *
          * * * * *
         * * * * * *
        * * * * * * *
       * * * * * * * *

In [86]:
rows = int(input("enter the number of rows : ")) 
m = (2 * rows) - 2
for i in range(0, rows):
    for j in range(0, m):
        print(end="*")
    m = m - 1
    for j in range(0, i + 1):
        print("j", end='')
    print(" ")

enter the number of rows :  5

********j
*******jj
******jjj
*****jjjj
****jjjjj

In [87]:
#inverted numeric pattern
for i in range(0, 5 + 1):  
    for j in range(5 - i, 0, -1):  
        print(j, end=" ")  
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [90]:
n = 5
for i in range(1, n+1):
    for j in range(1, n+1):
        if (i == j) or (j == 1) or (i == n):
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
* * * * *

In [91]:
for i in range(5):
    for j in range(5-i):
        print(' ', end='') 
    
    for j in range(2*i+1):
        if j==0 or j==2*i or i==5-1:
            print('*',end='')
        else:
            print(' ', end='')
    print()

     *
    * *
   *   *
  *     *
 *********

In [92]:
rows = 5
for i in range(rows + 1, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print(" ")

* * * * *
* * * *
* * *
* *
*

In [93]:
rows = 5
k = 2 * rows - 2
for i in range(rows, -1, -1):
    for j in range(k, 0, -1):
        print(end=" ")
    k = k + 1
    for j in range(0, i + 1):
        print("*", end=" ")
    print("")

        * * * * * *
         * * * * *
          * * * *
           * * *
            * *
             *

In [94]:
rows = 5
i = rows
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    k = 1
    while k <= i:
        print('*', end=' ')
        k += 1
    print()
    i -= 1

* * * * *
  * * * *
    * * *
      * *
        *

In [95]:
#right star pattern star
rows = 5
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")

for i in range(rows, 0, -1):
    for j in range(0, i - 1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [96]:
#sandglass pattern of star
rows = 5
i = 0
while i <= rows - 1:
    j = 0
    while j < i:
        # display space
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print()
    i += 1

i = rows - 1
while i >= 0:
    j = 0
    while j < i:
        print('', end=' ')
        j += 1
    k = i
    while k <= rows - 1:
        print('*', end=' ')
        k += 1
    print('')
    i -= 1

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

In [97]:
#diamond pattern star
rows = 5
i = 1
while i <= rows:
    j = rows
    while j > i:
        # display space
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k < 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i += 1

i = rows - 1
while i >= 1:
    j = rows
    while j > i:
        print(' ', end=' ')
        j -= 1
    print('*', end=' ')
    k = 1
    while k <= 2 * (i - 1):
        print(' ', end=' ')
        k += 1
    if i == 1:
        print()
    else:
        print('*')
    i -= 1

        *
      *   *
    *       *
  *           *
*               *
  *             *
    *         *
      *     *
        *